.ROW{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   
}

.continer{
   width:80%;
   margin: auto;
   

}

.center_pro{
    justify-content: center;
    text-align: center;
    font-family:Georgia, serif;
    margin: 80px;
    color: black;
    font-weight: 800;

}
.products img{
    width: 200px;
    height: 180px;
    border: 1px solid sandybrown;
    border-radius: 10px;
}
 img :hover{
    border: 2px solid rgb(3, 127, 65);
    width: 150px;
    height: 180px;

}
/* products*/
.show-popup .blur-bg-overlay{
    opacity: 1;
    pointer-events: auto;

}
.blur-bg-overlay{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    pointer-events:none ;
    opacity: 0;
    transition: 0.1s ease;

}



/*products*/
.products{
    display: flex;
    justify-content:left;
    padding: 2px;
    width: 100%;
    flex-direction: row;
    gap:2px;
    left:100px;
    height: 250px;
}
.img-pro{
    width: 200px;
    height: 180px;
    border-radius: 20px;
   
}
.products .ROW{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 2px;
}
.img-pro img{
    border: 1px solid #e7b811;
    border-radius: 20px;
}
.img-pro img:hover{
    border: 1px solid #0c5805;
    transform:scale(0.9 , 0.9 );
}

.img-pro h5{
    color: #161414;
    text-align: center;
    font-family:Georgia, serif;
    
}